@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  background: #8E2DE2;
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

body>div {
  flex: 1;
}

button {
  border: none;
  font-weight: 900;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 5px;
  border-radius: 40px;
}

.points {
  margin-bottom: 25px;
}

.points .stats {
  font-size: 108px;
  font-weight: bold;
  color: #FFEB3B;
}

button[name=start] {
  background-color: #4caf50;
  color: #fff;
}

button[name=click] {
  background-color: #F44336;
  color: #fff;
}

button[disabled] {
  background-color: #9E9E9E;
  cursor: not-allowed;
}

.copyright {
  margin-top: 45px;
  color: #fff;
}

.copyright ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.copyright ul li {
  display: inline-block;
  margin: 0 5px;
  font-weight: 900;
  font-size: 13px;
}

.copyright ul li a {
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 4px;
  background: #fff;
}
